<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjp.programme.mapper.BalanceMapper" >
	<resultMap id="BalanceMap" type="com.hjp.programme.vo.Balance" >
    	<result column="CARD_ID" property="cardId" jdbcType="VARCHAR"/>
    	<result column="COST_ID" property="costId" jdbcType="VARCHAR"/>
    	<result column="CHILD_MERCHANT_ID" property="childMerchantId" jdbcType="VARCHAR"/>
    	<result column="MERCHANT_ID" property="merchantId" jdbcType="VARCHAR"/>
    	<result column="COST" property="cost" jdbcType="DECIMAL"/>
    	<result column="TRADE_STAFF_ID" property="tradeStaffId" jdbcType="VARCHAR"/>
    	<result column="COST_TIME" property="costTime" jdbcType="TIMESTAMP"/>
    	<result column="CARD_BALANCE" property="cardBalance" jdbcType="DECIMAL"/>
    	<result column="IS_MONTH" property="isMonth" jdbcType="VARCHAR"/>
    	<result column="ALL_COST" property="allCost" jdbcType="DECIMAL"/>
    	<result column="HODE_CARD_NAME" property="hodeCardName" jdbcType="VARCHAR"/>
    	<result column="CARD_TYPE_CODE" property="cardTypeCode" jdbcType="VARCHAR"/>
    	<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
    	<result column="CARD_TYPE_NAME" property="cardTypeName" jdbcType="VARCHAR"/>
    </resultMap>
    
    <insert id="insertBalance" parameterType="com.hjp.programme.vo.Balance">
    	insert into TF_B_BALANCE
    	<trim prefix="(" suffix=")" suffixOverrides="," >
		    <if test="cardId != null" >
		        CARD_ID,
		    </if>
		    <if test="costId != null" >
		        COST_ID,
		    </if>
		    <if test="childMerchantId != null" >
		        CHILD_MERCHANT_ID,
		    </if>
		    <if test="merchantId != null" >
		        MERCHANT_ID,
		    </if>
		    <if test="cost != null" >
		        COST,
		    </if>
		    <if test="tradeStaffId != null" >
		        TRADE_STAFF_ID,
		    </if>
		    <if test="costTime != null" >
		        COST_TIME,
		    </if>
		    <if test="cardBalance != null" >
		        CARD_BALANCE,
		    </if>
		</trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      	<if test="cardId != null" >
	        	#{cardId,jdbcType=VARCHAR},
	      	</if>
	      	<if test="costId != null" >
	        	#{costId,jdbcType=VARCHAR},
	      	</if>
	      	<if test="childMerchantId != null" >
	        	#{childMerchantId,jdbcType=VARCHAR},
	      	</if>
	      	<if test="merchantId != null" >
	        	#{merchantId,jdbcType=VARCHAR},
	      	</if>
	      	<if test="cost != null" >
	        	#{cost,jdbcType=DECIMAL},
	      	</if>
	      	<if test="tradeStaffId != null" >
	        	#{tradeStaffId,jdbcType=VARCHAR},
	      	</if>
	      	<if test="costTime != null" >
	        	#{costTime,jdbcType=TIMESTAMP},
	      	</if>
	      	<if test="cardBalance != null" >
	        	#{cardBalance,jdbcType=DECIMAL},
	      	</if>
	  	</trim>
    </insert>
    
    <update id="updateBalanceMonth" parameterType="java.util.HashMap">
    	update TF_B_BALANCE set IS_MONTH = #{isMonth,jdbcType=VARCHAR}
    	where MERCHANT_ID = #{merchantId,jdbcType=VARCHAR}
    	<if test="beginTime != null" >
			<![CDATA[
			and COST_TIME >= DATE_FORMAT(#{beginTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
			]]>
		</if>
		<if test="endTime != null" >
			<![CDATA[
			and COST_TIME <= DATE_FORMAT(#{endTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
			]]>
		</if>
    </update>
    
    <update id="updateBalance" parameterType="java.util.HashMap">
  		update TF_B_BALANCE
  		<set>
  	  		<if test="cost != null" >
        		COST = #{cost,jdbcType=DECIMAL},
      		</if>
      		<if test="cardBalance != null" >
        		CARD_BALANCE = #{cardBalance,jdbcType=DECIMAL},
      		</if>
      		<if test="editTime != null" >
        		EDIT_TIME = #{editTime,jdbcType=TIMESTAMP},
      		</if>
      		<if test="editStaffId != null" >
        		EDIT_STAFF_ID = #{editStaffId,jdbcType=VARCHAR},
      		</if>
      		<if test="isMonth != null" >
        		IS_MONTH = #{isMonth,jdbcType=VARCHAR},
      		</if>
      		<if test="cardId != null" >
        		CARD_ID = #{cardId,jdbcType=VARCHAR},
      		</if>
      	</set>
      	where COST_ID = #{costId,jdbcType=VARCHAR}
	</update>
	
	<select id="queryMemberCardAllBalance" resultMap="BalanceMap" parameterType="java.util.HashMap">
    	SELECT SUM(bb.COST) ALL_COST, mc.HODE_CARD_NAME, mc.CARD_TYPE_CODE, mc.CREATE_TIME, ct.CARD_TYPE_NAME
		FROM tf_f_member_card mc LEFT JOIN tf_b_balance bb ON mc.CARD_ID = bb.CARD_ID
		LEFT JOIN td_m_card_type ct ON mc.CARD_TYPE_CODE = ct.CARD_TYPE_CODE
		where 1=1
		<if test="cardBalanceBegin != null" >
			<![CDATA[
			and mc.CARD_BALANCE >= #{cardBalanceBegin,jdbcType=VARCHAR}
			]]>
		</if>
		<if test="cardBalanceEnd != null" >
			<![CDATA[
			and mc.CARD_BALANCE <= #{cardBalanceEnd,jdbcType=VARCHAR}
			]]>
		</if>
		<if test="costMerchantId != null" >
			and bb.CHILD_MERCHANT_ID = #{costMerchantId,jdbcType=VARCHAR}
		</if>
		<if test="openBeginTime != null" >
			<![CDATA[
			AND mc.CREATE_TIME >= DATE_FORMAT(#{openBeginTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
			]]>
		</if>
		<if test="openEndTime != null" >
			<![CDATA[
			AND mc.CREATE_TIME >= DATE_FORMAT(#{openEndTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
			]]>
		</if>
		<if test="beginTime != null" >
			<![CDATA[
			AND bb.COST_TIME >= DATE_FORMAT(#{beginTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
			]]>
		</if>
		<if test="endTime != null" >
			<![CDATA[
			AND bb.COST_TIME <= DATE_FORMAT(#{endTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
			]]>
		</if>
		<if test="costTime != null" >
			<![CDATA[
			AND (DATE_FORMAT(bb.COST_TIME,'%Y-%m-%d') = DATE_FORMAT(#{costTime,jdbcType=VARCHAR},'%Y-%m-%d'))
			]]>
		</if>
		<if test="cost != null" >
			AND bb.COST = #{cost,jdbcType=VARCHAR}
		</if>
		<if test="isMonth != null" >
			AND bb.IS_MONTH = #{isMonth,jdbcType=VARCHAR}
		</if>
		<if test="cardId != null" >
			AND mc.CARD_ID = #{cardId,jdbcType=VARCHAR}
		</if>
		<if test="cardTypeCode != null" >
			AND mc.CARD_TYPE_CODE = #{cardTypeCode,jdbcType=VARCHAR}
		</if>
		<if test="hodeCardName != null" >
			AND mc.HODE_CARD_NAME like %#{hodeCardName,jdbcType=VARCHAR}%
		</if>
		<if test="openTime != null" >
			<![CDATA[
			AND (DATE_FORMAT(mc.CREATE_TIME,'%Y-%m-%d') = DATE_FORMAT(#{openTime,jdbcType=VARCHAR},'%Y-%m-%d'))
			]]>
		</if>
		ORDER BY bb.COST_TIME DESC
    </select>
    
    <select id="queryBalanceInfo" resultMap="BalanceMap" parameterType="java.util.HashMap">
    	SELECT b.CARD_ID, b.COST_ID, b.CARD_BALANCE, b.COST, b.CHILD_MERCHANT_ID, b.COST_TIME, b.EDIT_STAFF_ID,
			b.EDIT_TIME, b.IS_MONTH, b.MERCHANT_ID, b.TRADE_STAFF_ID
		FROM tf_b_balance b
		WHERE 1 = 1
		<if test="costId != null" >
			AND b.COST_ID = #{costId,jdbcType=VARCHAR}
		</if>
		<if test="cardId != null" >
			AND b.CARD_ID = #{cardId,jdbcType=VARCHAR}
		</if>
		<if test="beginTime != null" >
			<![CDATA[
			AND b.COST_TIME > DATE_FORMAT(#{beginTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
			]]>
		</if>
		<if test="endTime != null" >
			<![CDATA[
			AND b.COST_TIME < DATE_FORMAT(#{endTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
			]]>
		</if>
		ORDER BY COST_TIME DESC
    </select>
    
</mapper>
