<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjp.programme.mapper.MerchantMapper" >
	<resultMap id="MerchantInfoMap" type="com.hjp.programme.vo.MerchantInfo" >
    	<result column="MERCHANT_ID" property="merchantId" jdbcType="VARCHAR"/>
    	<result column="MERCHANT_NAME" property="merchantName" jdbcType="VARCHAR"/>
    	<result column="STATE" property="state" jdbcType="VARCHAR"/>
    </resultMap>
    
    <insert id="insertMerchantInfo" parameterType="com.hjp.programme.vo.MerchantInfo">
    	insert into td_m_merchant_info
    	<trim prefix="(" suffix=")" suffixOverrides="," >
		    <if test="merchantId != null" >
		        MERCHANT_ID,
		    </if>
		    <if test="merchantName != null" >
		        MERCHANT_NAME,
		    </if>
		    <if test="state != null" >
		        STATE,
		    </if>
		</trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      	<if test="merchantId != null" >
	        	#{merchantId,jdbcType=VARCHAR},
	      	</if>
	      	<if test="merchantName != null" >
	        	#{merchantName,jdbcType=VARCHAR},
	      	</if>
	      	<if test="state != null" >
	        	#{state,jdbcType=VARCHAR},
	      	</if>
	    </trim>
    </insert>
    
    <insert id="insertMerchantRegister" parameterType="com.hjp.programme.vo.MerchantRegister">
    	insert into tf_m_merchant_register
    	<trim prefix="(" suffix=")" suffixOverrides="," >
		    <if test="merchantId != null" >
		        MERCHANT_ID,
		    </if>
		    <if test="childMerchantId != null" >
		        CHILD_MERCHANT_ID,
		    </if>
		</trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      	<if test="merchantId != null" >
	        	#{merchantId,jdbcType=VARCHAR},
	      	</if>
	      	<if test="childMerchantId != null" >
	        	#{childMerchantId,jdbcType=VARCHAR},
	      	</if>
	    </trim>
    </insert>
    
    <update id="updateMerchantInfo" parameterType="java.util.HashMap">
  		update td_m_merchant_info
  		<set>
  	  		<if test="merchantName != null" >
        		MERCHANT_NAME = #{merchantName,jdbcType=VARCHAR},
      		</if>
      	</set>
      	where MERCHANT_ID = #{merchantId,jdbcType=VARCHAR}
    </update>
    
    <select id="queryMerchantInfo" resultMap="MerchantInfoMap" parameterType="java.lang.String">
    	SELECT MERCHANT_ID, MERCHANT_NAME, STATE
		FROM td_m_merchant_info 
    </select>
    
    <select id="queryMerchantInfoByPage" resultMap="MerchantInfoMap" parameterType="page">
    	SELECT MERCHANT_ID, MERCHANT_NAME, STATE
		FROM td_m_merchant_info 
    </select>
    
</mapper>
